footer {
    background-color:rgb(58, 127, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.survey {
    border-radius: 7px;
}

.feedback {
    border-radius: 7px;
    background-color: rgb(255, 220, 19);
}